# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
client/dist/
build/
server/uploads/

# OS files
.DS_Store
Thumbs.db
